.layout {
  display: flex;
  justify-content: space-around;
  align-items:left;
}
.textcontainer1 {
  font-size: 25px;
  max-width: 52rem;
  margin: 10px;
 background-color:#cfa649;
 opacity: 0.9;
}
img {
  max-width: 40rem;
    max-height: 30rem;
    margin:10px;
}
body {
  background-image: url('../Pictures/Background1.png');
    background-size:cover;
    position: relative;
    z-index: -1;
}
